@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  p{
    @apply text-[16px] font-normal leading-[150%] text-primary
  }
}
@layer components {
  /* navigation */
  .navigation {
    @apply flex gap-[32px] flex-col text-center justify-center absolute md:static  top-0 bg-bgDark2 w-dvw h-dvh md:w-fit md:h-fit md:flex-row md:bg-transparent z-10;
  }
  .navigation a {
    @apply p-[10px] transition-colors hover:text-accent1 ;
  }

  /* header */
  .header-wrap {
    @apply flex justify-between min-h-[48px] items-center pt-[24px] px-6 xl:px-0;
  }
  .cart-btn{
    @apply w-[48px] h-[48px] bg-accent1 rounded-full grid place-content-center
  }
 
  /* hero */
  .hero{
    @apply  bg-bgHero mt-[0px] relative
  }
  .hero-title{
    @apply text-[150px] font-light font2 leading-[200%]
  }
  .hero-content{
    @apply text-[16px] font-normal leading-[150%] text-primary max-w-[526px] w-full
  }

  /* service */
  .service{
    @apply flex justify-between
  }
  .service-card{
    @apply w-[311px] border-r-[1px] border-darkGray flex gap-[20px] align-middle [&>span]:content-center pl-[30px]
  }
  .service-title{
    @apply text-[20px] font-medium leading-[140%] text-lightGray capitalize mb-[10px]
  }
  
  /* button */
  .btn-primary{
    @apply py-[16px] px-[24px] bg-accent1 rounded-[4px] flex gap-2 capitalize text-[16px]
  }
  .disable{
    @apply cursor-default opacity-[0.5]
  }

  /* title */
  .title{
    @apply text-[40px] font-semibold text-white leading-[120%] font2
  }


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body{
  overflow-x:hidden;
}
a {
  color: #fff;
  display: inline-block;
}
.container {
  max-width: 1300px;
  width:100%;
  margin-inline: auto;
  
}
.unset{
  position:unset;
}
.center-wrap{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.font2{
  font-family:Fraunces
}