@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  p {
    @apply text-[16px] font-normal leading-[150%] text-primary;
  }
  a {   
    display: inline-block;
  }
}
@layer utilities {
 
  body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
  }
  

  .container {
    max-width: 1340px;
    width: 100%;
    padding-inline:20px;
    margin-inline: auto;
  }
  .unset {
    position: unset;
  }
  .center-wrap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hover-effect1:hover > span {
    transform: translateX(10px);
  }
  .customerSwiper {
    min-height: 380px;
  }

 
  .afterBorder {
    position: relative;
  }
  .afterBorder::after {
    content: "";
    position: absolute;
    top: 0;
    right: -4%;
    width: 2px;
    height: 100%;
    background: #525252;
  }
  .footer-link > a:hover {
    color: #007bb5;
  }

  .cardBtn {
    width: 48px;
    height: 48px;
    background: #fff;
    display: grid;
    place-content: center;
    transition: all 0.3s ease;
    color: #737373;
    font-size: 24px;
    postiion: relative;
  }

  /* tooltip */

  #tooltip-right {
    position: absolute;
    transform: translate(66px, 6px);
    width: 98px;
    height: 36px;
    border-radius: 4px;
    text-wrap: no-wrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background: #262626;
    padding-top: 7px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  #tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 8px solid;
    border-color: transparent #262626 transparent transparent;
  }

  .cardBtn:hover {
    background: #0a0a0a;
    color: #fff;
  }
  .cardBtn:hover > #tooltip-right {
    opacity: 1;
  }

  /* header background change on scroll */

  .bgChange {
    postiion: relative;
    transition: all 0.5s ease;
  }
  .bgChange::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 27, 24, 0.5);
    z-index: -1;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
  }

  /* 
button hover effect */
  .cart-hover:hover .bounceNew {
    animation: bounceNew 1s infinite;
  }

  @keyframes bounceNew {
    0%,
    100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hover\:bounceNew:hover {
    animation: bounceNew 1s infinite;
  }

  .separator {
    display: flex;
    align-items: center;   
    font-size: 14px;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #666; /* Adjust line color as needed */
    
}
.separator::before{
  margin: 0 10px 0 0;
}
.separator::after{
  margin: 0 0 0 10px;
}

  /* pagination */
  .venus-pagination{
    display:flex;
    gap:6px;
  }
  .page-item{
    background:#f5f5f5;     
    
    display:grid;
    place-content:center;
  }
 
  .page-link{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    color:#525252;
    transition: all 0.3s ease;
  }
  .page-link svg{
    margin-top:12px;
    transform:translatex(70%)
    
  }
  .page-link:is(:hover){
    background:#D25F5D;
    color:#fff;
  }
  .active-p .page-link{    
    background:#D25F5D;
    color:#fff;
  }
  
}
@layer components {
  /* navigation */
  .navigation {
    @apply flex gap-[32px] flex-col text-center justify-center absolute md:static  top-0 bg-bgDark2 w-dvw h-dvh md:w-fit md:h-fit md:flex-row md:bg-transparent z-10;
  }
  .navigation a {
    @apply p-[10px] transition-colors hover:text-accent1;
  }

  /* header */
  .header-wrap {
    @apply flex justify-between min-h-[48px] items-center pt-[24px] px-6 xl:px-0;
  }
  .cart-btn {
    @apply w-[48px] h-[48px] bg-accent1 rounded-full grid place-content-center;
  }

  /* hero */
  .hero {
    @apply bg-bgHero mt-[0px] relative;
  }
  .hero-title {
    @apply text-[150px] font-light leading-[200%] font-fraunces;
  }
  .hero-content {
    @apply text-[16px] font-normal leading-[150%] text-primary max-w-[526px] w-full;
  }

  /* service */
  .service {
    @apply flex justify-between;
  }
  .service-card {
    @apply w-[311px] border-r-[1px] border-darkGray flex gap-[20px] align-middle [&>span]:content-center pl-[30px];
  }
  .service-title {
    @apply text-[20px] font-medium leading-[140%] text-lightGray capitalize mb-[10px];
  }

  /* button */
  .btn-primary {
    @apply py-[16px] px-[24px] rounded-[4px] flex gap-2 capitalize text-[16px];
  }

  .disable {
    @apply cursor-default opacity-[0.5];
  }

  /* title */
  .title {
    @apply text-[40px] font-semibold text-white leading-[120%] font-fraunces;
  }
  .title2 {
    @apply text-[32px] font-normal leading-[125%] text-cardTitle font-fraunces;
  }
  .p-title {
    @apply text-[18px] font-normal leading-[156%] text-cardTitle capitalize;
  }
  .f-title {
    @apply text-[20px] font-medium;
  }
  .btn-group {
    @apply flex gap-5 *:w-[180px] *:h-[56px] *:rounded-[4px] *:flex *:justify-center *:items-center *:bg-accent1 *:gap-2 capitalize *:text-white;
  }
  .price-btnGroup {
    @apply flex *:h-[40px] justify-between gap-5 *:border-[1px] *:flex-1 *:border-gray *:rounded-[4px] *:flex *:justify-center *:items-center *:font-normal;
  }

  /* footer */
  .footer-link {
    @apply mt-1 *:w-[40px] *:h-[40px] flex gap-[10px] *:border *:border-fBtnBorder *:bg-fBtnBg *:text-fBtnBorder *:grid *:place-content-center *:rounded-full *:transition-colors;
  }
}



 /* swiper slider */
 .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #7b5444;
  opacity: 1;
  margin-block: 5px;
}
.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  border-radius: 50%;
  background: #c09381;
  outline: 1px solid #c09381;
  outline-offset: 4px;
}
/* Yellow Range Slider */
#range-slider-yellow {
  background: #d4d4d4;
  height: 5px;
  margin-bottom: 27px;
}

#range-slider-yellow .range-slider__range {
  background: #d7aa38;
  height: 7px;
  transition: height 0.3s;
}

#range-slider-yellow .range-slider__thumb {
  width: 16px;
  height: 16px;
  cursor: grab;
  background: #d7aa38;
  transition: transform 0.3s;
}
#range-slider-yellow .range-slider__thumb:hover {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-yellow .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}
